<div>
    <h2>
        <span jhiTranslate="consultaPlacasApp.consultaPlaca.home.title">Consulta Placas</span>
        <button class="btn btn-primary float-right jh-create-entity create-consulta-placa" [routerLink]="['/', { outlets: { popup: ['consulta-placa-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="consultaPlacasApp.consultaPlaca.home.createLabel">
                Create new Consulta Placa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-1">
                <input type="text" class="form-control" placeholder="Issi" [(ngModel)]="busquedaIssi" />
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Municipio" [(ngModel)]="busquedaMunicipio" />
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Corporación" [(ngModel)]="busquedaCorporacion" />
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="form-control-label">Estado: </label>
                    <select class="form-control" [(ngModel)]="busquedaEstado">
                        <option value=""></option>
                        <option value="Positivo">Positivo</option>
                        <option value="Negativo">Negativo</option>
                        <option value="Ambos">Ambos</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="form-control-label">Desde: </label>
                    <input type="text" class="form-control" ngbDatepicker #fechaDpInicial="ngbDatepicker" [(ngModel)]="busquedaFechaInicial"
                        disabled/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary" (click)="fechaDpInicial.toggle()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="form-control-label">Hasta: </label>
                    <input type="text" class="form-control" ngbDatepicker #fechaDpFinal="ngbDatepicker" [(ngModel)]="busquedaFechaFinal" disabled/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary" (click)="fechaDpFinal.toggle()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-1">
                <button (click)="loadAll()" class="btn btn-success float-right">
                    <span class="fa fa-search"></span>
                    <span>Buscar</span>
                </button>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-8">

            </div>
            <div class="col-md-1">
                <button (click)="printReportPdf()" class="btn btn-danger float-right">
                    <span class="fa fa-file-pdf-o"></span>
                    <span>PDF</span>
                </button>
            </div>
            <div class="col-md-1">
                <button (click)="printReportXls()" class="btn btn-success float-right">
                    <span class="fa fa-file-excel-o"></span>
                    <span>XLS</span>
                </button>
            </div>
            <div class="col-md-1">
                <button (click)="printReportXlsx()" class="btn btn-success float-right" disabled>
                    <span class="fa fa-file-excel-o"></span>
                    <span>XLSX</span>
                </button>
            </div>
            <div class="col-md-1">
                <button (click)="printReportCsv()" class="btn btn-dark float-right">
                    <span class="fa fa-file-text"></span>
                    <span>CSV</span>
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive" *ngIf="consultaPlacas">
        <p></p>
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id">
                        <span jhiTranslate="global.field.id">ID</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="radioIssi">
                        <span jhiTranslate="consultaPlacasApp.consultaPlaca.radio">Issi</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="responsable">
                        <span jhiTranslate="consultaPlacasApp.consultaPlaca.responsable">Responsable</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="municipio">
                        <span jhiTranslate="consultaPlacasApp.consultaPlaca.municipio">Municipio</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="corporacion">
                        <span jhiTranslate="consultaPlacasApp.consultaPlaca.corporacion">Corporacion</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="fecha">
                        <span jhiTranslate="consultaPlacasApp.consultaPlaca.fecha">Fecha</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="consulta">
                        <span jhiTranslate="consultaPlacasApp.consultaPlaca.consulta">Consulta</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="metodo">
                        <span jhiTranslate="consultaPlacasApp.consultaPlaca.metodo">Metodo</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="estado">
                        <span jhiTranslate="consultaPlacasApp.consultaPlaca.estado">Estado</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="resultado">
                        <span jhiTranslate="consultaPlacasApp.consultaPlaca.resultado">Resultado</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="coordenadas">
                        <span jhiTranslate="consultaPlacasApp.consultaPlaca.coordenadas">Coordenadas</span>
                        <span class="fa fa-sort"></span>
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consultaPlaca of consultaPlacas | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>
                        <a [routerLink]="['../consulta-placa', consultaPlaca.id ]">{{consultaPlaca.id}}</a>
                    </td>
                    <td>
                        <div *ngIf="consultaPlaca.radioIssi">
                            <a [routerLink]="['../radio', consultaPlaca.radioIssi  ]">{{consultaPlaca.radioIssi}}</a>
                        </div>
                    </td>
                    <td>{{consultaPlaca.radioResponsable }}</td>
                    <td>{{consultaPlaca.radioMunicipio }}</td>
                    <td>{{consultaPlaca.radioCorporacion }}</td>
                    <td>{{consultaPlaca.fecha | date:'mediumDate'}}</td>
                    <td>{{consultaPlaca.consulta}}</td>
                    <td>{{consultaPlaca.metodo}}</td>
                    <td *ngIf="consultaPlaca.estado">Positivo</td>
                    <td *ngIf="!consultaPlaca.estado">Negativo</td>
                    <td>{{consultaPlaca.resultado}}</td>
                    <td>{{consultaPlaca.coordenadas}}</td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['../consulta-placa', consultaPlaca.id ]" class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <!--<button type="submit"-->
                            <!--[routerLink]="['/', { outlets: { popup: 'consulta-placa/'+ consultaPlaca.id + '/edit'} }]"-->
                            <!--replaceUrl="true"-->
                            <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="fa fa-pencil"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                            <!--[routerLink]="['/', { outlets: { popup: 'consulta-placa/'+ consultaPlaca.id + '/delete'} }]"-->
                            <!--replaceUrl="true"-->
                            <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="fa fa-remove"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                            <!--</button>-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>
