<div>
    <h2>
        <span jhiTranslate="consultaPlacasApp.consultaPlaca.home.title">Consulta Placas</span>
        <button class="btn btn-primary float-right jh-create-entity create-consulta-placa" [routerLink]="['/', { outlets: { popup: ['consulta-placa-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="consultaPlacasApp.consultaPlaca.home.createLabel">
                Create new Consulta Placa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-2">
                <div class="input-group">
                    <label class="form-control-label">Estado: </label>
                    <select class="form-control" [(ngModel)]="busquedaEstado">
                        <option [ngValue]="null"></option>
                        <option value="Positivo">Positivo</option>
                        <option value="Negativo">Negativo</option>
                        <option value="Ambos">Ambos</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="form-control-label">Desde: </label>
                    <input type="text" class="form-control" ngbDatepicker #fechaDpInicial="ngbDatepicker" [(ngModel)]="busquedaFechaInicial"
                        disabled/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary" (click)="fechaDpInicial.toggle()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="form-control-label">Hasta: </label>
                    <input type="text" class="form-control" ngbDatepicker #fechaDpFinal="ngbDatepicker" [(ngModel)]="busquedaFechaFinal" disabled/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary" (click)="fechaDpFinal.toggle()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive" *ngIf="consultaPlacas">
        <p></p>
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th>
                        <span>Issi</span>
                    </th>
                    <th>
                        <span>Responsable</span>
                    </th>
                    <th>
                        <span>Municipio</span>
                    </th>
                    <th>
                        <span>Corporación</span>
                    </th>
                    <th>
                        <span>Fecha</span>
                    </th>
                    <th>
                        <span>Consulta</span>
                    </th>
                    <th>
                        <span>Método</span>
                    </th>
                    <th>
                        <span>Estado</span>
                    </th>
                    <th>
                        <span>Resultado</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let consultaPlaca of consultaPlacas ;trackBy: trackId"> -->
                <tr *ngFor="let consultaPlaca of consultaPlacas | searchfilterReporte: 'estado' : busquedaEstado | searchfilterReporteFechaInicial: 'fecha': busquedaFechaInicial | searchfilterReporteFechaFinal: 'fecha': busquedaFechaFinal | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{consultaPlaca.issi}}</td>
                    <td>{{consultaPlaca.responsable}}</td>
                    <td>{{consultaPlaca.municipioDescripcion}}</td>
                    <td>{{consultaPlaca.corporacionDescripcion}}</td>
                    <td>{{consultaPlaca.fecha | date: 'dd/MM/yyyy'}}</td>
                    <td>{{consultaPlaca.consulta}}</td>
                    <td>{{consultaPlaca.metodo}}</td>
                    <td>{{consultaPlaca.estado}}</td>
                    <td>{{consultaPlaca.resultado}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['../consulta-placa', consultaPlaca.id ]" class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'consulta-placa/'+ consultaPlaca.id + '/edit'} }]" replaceUrl="true"
                                class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'consulta-placa/'+ consultaPlaca.id + '/delete'} }]" replaceUrl="true"
                                class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>