<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRadioLabel" jhiTranslate="consultaPlacasApp.radio.home.createOrEditLabel">Create or edit a Radio</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!radio.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="radio.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="consultaPlacasApp.radio.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                [(ngModel)]="radio.descripcion" required/>
            <div [hidden]="!(editForm.controls.descripcion?.dirty && editForm.controls.descripcion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.descripcion?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="consultaPlacasApp.radio.tipoDeRadio" for="field_tipoDeRadio">Tipo De Radio</label>
            <!--<input type="text" class="form-control" name="tipoDeRadio" id="field_tipoDeRadio"-->
                <!--[(ngModel)]="radio.tipoDeRadio" required/>-->
            <select class="form-control" id="field_tipoDeRadio"  name="tipoDeRadio" [(ngModel)]="radio.tipoDeRadio"  required>
                <option [ngValue]="null" selected></option>
                <option value="Móvil">Móvil</option>
                <option value="Portatil">Portátil</option>
            </select>


            <div [hidden]="!(editForm.controls.tipoDeRadio?.dirty && editForm.controls.tipoDeRadio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tipoDeRadio?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="consultaPlacasApp.radio.permiso" for="field_permiso">Permiso</label>
            <input type="text" class="form-control" name="permiso" id="field_permiso"
                [(ngModel)]="radio.permiso" required/>
            <div [hidden]="!(editForm.controls.permiso?.dirty && editForm.controls.permiso?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.permiso?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="consultaPlacasApp.radio.marca" for="field_marca">Marca</label>
            <select class="form-control" id="field_marca" name="marca" [(ngModel)]="radio.marcaId"  required>
                <option *ngIf="!editForm.value.marca" [ngValue]="null" selected></option>
                <option [ngValue]="marcaOption.id" *ngFor="let marcaOption of marcas; trackBy: trackMarcaById">{{marcaOption.descripcion}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.marca?.dirty && editForm.controls.marca?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.marca?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="consultaPlacasApp.radio.municipio" for="field_municipio">Municipio</label>
            <select class="form-control" id="field_municipio" name="municipio" [(ngModel)]="radio.municipioId"  required>
                <option *ngIf="!editForm.value.municipio" [ngValue]="null" selected></option>
                <option [ngValue]="municipioOption.id" *ngFor="let municipioOption of municipios; trackBy: trackMunicipioById">{{municipioOption.descripcion}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.municipio?.dirty && editForm.controls.municipio?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.municipio?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="consultaPlacasApp.radio.corporacion" for="field_corporacion">Corporacion</label>
            <select class="form-control" id="field_corporacion" name="corporacion" [(ngModel)]="radio.corporacionId"  required>
                <option *ngIf="!editForm.value.corporacion" [ngValue]="null" selected></option>
                <option [ngValue]="corporacionOption.id" *ngFor="let corporacionOption of corporacions; trackBy: trackCorporacionById">{{corporacionOption.descripcion}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.corporacion?.dirty && editForm.controls.corporacion?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.corporacion?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
