
<div *ngIf="radio">
    <h2><span jhiTranslate="consultaPlacasApp.radio.detail.title">Radio</span> {{radio.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="consultaPlacasApp.radio.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{radio.descripcion}}</span>
        </dd>
        <dt><span jhiTranslate="consultaPlacasApp.radio.tipoDeRadio">Tipo De Radio</span></dt>
        <dd>
            <span>{{radio.tipoDeRadio}}</span>
        </dd>
        <dt><span jhiTranslate="consultaPlacasApp.radio.marca">Marca</span></dt>
        <dd>
            <div *ngIf="radio.marcaId">
                <a [routerLink]="['/marca', radio.marcaId]">{{radio.marcaDescripcion}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'radio/'+ radio.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
